.maintitle {
    color: black;
    padding: 100px;
    font-size: 50px;
}

.prompt {
    font-size: 20px;
    padding: 0px 0px 0px 50px;
}

.form {
    padding: 0px 0px 0px 50px;
}

.input {
    width: 40px;
}


.button {
    padding: 10px 10px 10px 10px;
}

.buttondiv{
    padding: 0px 0px 0px 50px;
}

#letsGo{
    visibility: hidden;
}

#next{
    visibility: hidden;
}

table, th, td {
    border: 1px solid black;
}

.generalCell {
    padding: 15px;
}

#explanationText {
    font-size: 20px;
}

.p {
    padding: 10px 10px 10px 10px;
}

#inputMatrixHolder{
    padding: 20px 20px 10px 50px;
}

#generalMatrixHolder{
    padding: 20px 20px 20px 50px;
}

.circle {

    width: 130px;
    height:130px;
    border-radius: 50%;
    float:left;
    margin:50px;

}

#red-circle {

    background-color: red;

}

#blue-circle {

    background-color: blue;

}

#yellow-circle {

    background-color: yellow;

}

body {

    background-color: pink;

}
